<h2>User</h2>

Id: <%= user.id %><br>
Email: <%= user.get('email') %><br>
Firstname: <%= user.get('firstname') %><br>
Lastname: <%= user.get('lastname') %><br>
is_admin: <%= user.get('is_admin') %><br>
